.task__block{
    display: flex;
    justify-content: space-between;
}
.task__text{
    font-size: 18px;
}
.task__remove{
    padding: 5px 10px;
}
.task-text{
    font-size: 18px;
    margin-right: 15px;
}
.buttons{
    gap: 5px;
}