button{
    border: 3px #5128b1 solid ;
    cursor: pointer;
    background-color: #4c445f;
    color: aliceblue;
    padding: 5px 15px;
    border-radius: 10px;
  }
  button:hover{
    transform: scale(1.2);
    transition: 0.1s;
  }